body {
	background: #141414;
	color: rgba(211, 211, 211, 0.5);
}

pre {
	background: none;
	border: none;
	color: inherit;
}

#console {
	height: 200px;
	overflow: auto;
}
#console .error {
	color: rgb(120, 0, 0);
}
#console .info {
	color: rgb(0, 0, 120);
}

.joystick {
	position: relative;
	width: 300px;
	height: 300px;
	margin-left: auto;
	border: 5px solid rgba(211, 211, 211, 0.2);
	border-radius: 50%;
}

.joystick .handle {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgb(211, 211, 211);
	opacity: 0.2;
	pointer-events: none;
}
.joystick.active .handle {
	opacity: 1;
}

/* @see http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
#power-input {
	width: 300px;
	height: 300px;
	margin-right: auto;
	border: 10px solid transparent;
}
#power-input::-moz-range-track {
	width: 5px;
	background: rgba(211, 211, 211, 0.2);
	border: none;
	border-radius: 3px;
}
#power-input::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: rgb(58, 58, 58);
}
#power-input:active::-moz-range-thumb {
	background: rgb(211, 211, 211);
}

.switch {
	display: inline-block;
	margin: 10px;
}
.switch input[type="checkbox"] {
	display: none;
}
.switch input[type="checkbox"] + label {
	height: 16px;
	width: 32px;
	background-image: radial-gradient(16px at 50% 50%, rgb(100, 0, 0) 0%, rgb(100, 0, 0) 49%, transparent 50%);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: left center;
	transition: 0.3s background-position;
}
.switch input[type="checkbox"]:checked + label {
	background-image: radial-gradient(16px at 50% 50%, rgb(0, 58, 0) 0%, rgb(0, 58, 0) 49%, transparent 50%);
	background-position: right center;
}
.switch input[type="checkbox"] + label:before {
	display: block;
	content: " ";
	width: 32px;
	height: 5px;
	margin-top: 5px;
	background-color: rgb(100, 0, 0);
	border-radius: 3px;
}
.switch input[type="checkbox"]:checked + label:before {
	display: block;
	content: " ";
	width: 32px;
	height: 5px;
	margin-top: 5px;
	background-color: rgb(0, 58, 0);
	border-radius: 3px;
}

.quadcopter-schema {
	fill: rgb(58, 58, 58);
	transition: 0.3s transform;
}
.quadcopter-schema g {
	transition: 0.3s fill;
}
#quadcopter-top {
	width: 300px;
	height: 300px;
}
.quadcopter-side {
	width: 300px;
	height: 75px;
	margin: 37px 0;
}